<!--index.wxml-->
<!-- <view class="container">
  <view class="userinfo">
    <button wx:if="{{!hasUserInfo && canIUse}}" open-type="getUserInfo" bindgetuserinfo="getUserInfo"> 获取头像昵称 </button>
    <block wx:else>
      <image bindtap="bindViewTap" class="userinfo-avatar" src="{{userInfo.avatarUrl}}" mode="cover"></image>
      <text class="userinfo-nickname">{{userInfo.nickName}}</text>
    </block>
  </view>
  <view class="usermotto">
    <text class="user-motto">{{motto}}</text>
  </view>
</view> -->
<view class="container">
  <view class="recommend-wrap" wx:if="{{bookList.length > 0}}">
    <view class="recommend">
      <image src="{{recommend.image_url}}"></image>
      <view class="recommend-text">
        <text>{{recommend.name}}</text>
        <text class="desc">{{recommend.description}}</text>
      </view>
    </view>
  </view>

  <view class="empty" wx:if="{{bookList.length <=0}}">
    <image src="/asset/images/empty.png"></image>
    <view><navigator open-type="switchTab" url="/pages/city/index">空书架，请前往书城添加</navigator></view>  
  </view>

  <view class="book-list-wrap">
    <view wx:for="{{bookList}}"  class="book-list {{item.selected ? 'selected' : ''}}" data-id="{{item.id}}" bindlongpress="selectBookId" >
      <navigator open-type="redirect" url="/pages/detail/index?id={{item.book_id}}" >
        <image src="{{item.image_url}}"></image>
      </navigator>
      <view class="book-mask">
        <image src="/asset/images/ok.png"></image>
      </view>
    </view>
  </view>
</view>

<view class="bar {{showBar ? 'show' : 'hide'}}">
  <view>
    <view>
      <checkbox-group bindchange="checkboxChange">
        <label>
          <checkbox value="{{checkAll}}" checked="{{checkAll}}"/>{{item.value}}
        </label>
      </checkbox-group>全选
    </view>
    <view class="delete" bindtap="delete"><image src="/asset/images/delete.png" class="active-1"></image><image src="/asset/images/delete-selected.png" class="active-2"></image>删除</view>
    <view class="complete" bindtap="complete">完成</view>
  </view>
</view>